<section class="sm-primary" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="section-heading">{{ .Site.Params.Name | markdownify  }} </span><span class="glyphicon glyphicon-menu-right"></span> <span>Upkept by Ottermatic Dev.</span>
            </div>
            <div class="col-md-4 col-md-offset-4 text-right">
                <span class="section-heading">Copyright {{ .Site.Params.footer.copyright }} </span><span class="glyphicon glyphicon-copyright-mark"></span>
            </div>
        </div>
    </div>
</section>