{{ "<!-- HEADER -->" | safeHTML }}
<header>
    <div class="header-content">
        {{ if .Site.Params.notification.icon }}
            <div class="notification">
                <i class="fa {{ .Site.Params.notification.icon }}" aria-hidden="true"></i>
                <span>{{ .Site.Params.notification.html }}</span>
            </div>
        {{ end }}
        <div class="header-content-inner">
            {{ with .Site.Params.hero.slogan }}
                <h1>{{ . | markdownify  }}</h1>
            {{ end }}
            {{ if and .Site.Params.hero.slogan .Site.Params.hero.subtitle }}
                <hr>
            {{ end }}
            {{ with .Site.Params.hero.subtitle }}
                <p>{{ . | markdownify }}</p>
            {{ end }}
            {{ if .Site.Params.hero.buttonText }}
                <a href="{{ .Site.Params.hero.buttonLink }}" class="btn btn-primary btn-xl page-scroll">{{ .Site.Params.hero.buttonText }}</a>
            {{ end }}
        </div>
    </div>
</header>